@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.search-bar i,
.cart i {
  font-size: 22px;
  color: #ffffff; }

.arrow {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20.75rem;
  animation: move 1s ease infinite; }

@keyframes move {
  0% {
    bottom: 3%;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }
body {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/black-and-white-2558273_1920.jpg);
  background-size: 100% 56rem;
  height: 945px;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff; }
  header h1 {
    font-size: 50px;
    line-height: 0.96;
    font-family: "Dosis";
    margin-top: 13.8125rem; }
  header p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 8px;
    color: #e6e6e6; }
  header button {
    margin-top: 57px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    border: none;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-top: 4rem; }

nav {
  padding-top: 3rem; }
  nav ul {
    width: 71rem;
    text-align: center;
    margin: 0 auto;
    height: 4rem;
    padding: 0; }
    nav ul li {
      text-transform: uppercase;
      list-style: none;
      display: inline-block;
      font-family: 'Dosis', sans-serif;
      font-size: 15px;
      letter-spacing: 0.8px; }
      nav ul li a {
        color: #ffffff;
        text-decoration: none;
        position: relative;
        padding: 0.3rem 0.6rem; }
        nav ul li a span {
          position: absolute;
          background: white; }
        nav ul li a .top {
          top: 0;
          left: 0;
          height: 1px;
          width: 0;
          transition: all 0.2s ease-in-out; }
        nav ul li a .right {
          top: 0;
          right: 0;
          width: 1px;
          height: 0;
          transition: all 0.2s ease-in-out 0.2s; }
        nav ul li a .bottom {
          right: 0;
          bottom: 0;
          height: 1px;
          width: 0;
          transition: all 0.2s ease-in-out 0.4s; }
        nav ul li a .left {
          bottom: 0;
          left: 0;
          width: 1px;
          height: 0;
          transition: 0.2s ease-in-out 0.6s; }
      nav ul li a:hover .top {
        width: 100%; }
      nav ul li a:hover .right {
        height: 100%; }
      nav ul li a:hover .bottom {
        width: 100%; }
      nav ul li a:hover .left {
        height: 100%; }
    nav ul .search-bar {
      width: 4rem;
      text-align: left; }
    nav ul .cart {
      width: 4rem;
      text-align: right; }
  nav .home-style li {
    width: 7.4rem; }
  nav .list-style .search-bar {
    width: 10rem;
    margin-right: 12rem;
    text-align: left; }
  nav .list-style li {
    width: 6rem; }

.logo {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #fffefe;
  font-weight: 600; }

section {
  height: 34.5rem;
  opacity: 0.9;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/model-2436214_1280.jpg);
  background-size: 100% 51rem;
  background-attachment: fixed;
  text-align: center; }
  section .info {
    width: 50rem;
    padding-top: 12rem;
    padding-left: 17rem; }
    section .info h1 {
      font-family: "Dosis";
      font-size: 3rem;
      color: #ffffff; }
    section .info p {
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 1.6;
      color: #ffffff; }
    section .info button {
      font-family: "Source Sans Pro";
      width: 9.375rem;
      height: 2.5rem;
      background-color: #a88d7b;
      border: none;
      font-size: 15px;
      color: #ffffff; }

footer {
  height: 26.5625rem;
  background-color: #2d2827; }
  footer p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.6;
    color: grey; }
    footer p a {
      color: grey;
      text-decoration: none;
      position: relative;
      padding: 0.6rem 0.6rem 0.6rem 0; }
      footer p a .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: white;
        transition: all 0.2s ease-in-out; }
    footer p a:hover .bottom {
      width: 100%; }
  footer .contact p:nth-child(1) {
    font-family: "Dosis";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #e5e5e5;
    margin-top: 0; }
  footer .links p:nth-child(1),
  footer .shop p:nth-child(1),
  footer .instagram p {
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.33;
    color: #e5e5e5;
    margin-top: 0.4rem;
    margin-bottom: 3rem; }
  footer .instagram p {
    grid-column: -1/1; }
  footer .instagram div {
    background: white;
    width: 5rem;
    height: 5rem; }

.bar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }
  .bar div p {
    font-family: "Source Sans Pro";
    color: #999999; }

.currency {
  font-size: 12px;
  margin-top: 0.2rem;
  text-align: left; }
  .currency span {
    padding-left: 1rem; }
    .currency span i {
      padding-left: 0.5rem; }
  .currency span:nth-child(1) {
    padding-left: 0; }

.shipping p {
  line-height: 1.83;
  letter-spacing: 2.4px;
  font-size: 12px;
  margin-top: 1rem; }

.icons {
  padding-top: 0.2rem;
  text-align: right; }
  .icons i {
    padding: 0 0.5rem;
    font-size: 15px; }

.search-bar i,
.cart i {
  padding-left: 0.6rem; }

.title-1 {
  width: 100%; }
  .title-1 h2 {
    font-family: "Source Sans Pro";
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    position: relative; }
  .title-1 h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

main p {
  font-weight: 600;
  text-align: center;
  font-family: "Source Sans Pro";
  margin: 0.5rem 0; }

.description {
  font-size: 20px;
  color: #333333; }

.price {
  font-size: 15px;
  color: #999999; }

.imgBox-1 {
  width: 23.125rem;
  height: 27.125rem;
  position: relative;
  overflow: hidden; }
  .imgBox-1 button {
    width: 60px;
    height: 25px;
    border-radius: 7.5px;
    background-color: #a88d7b;
    border: none;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 1000; }
  .imgBox-1 .img-1 {
    width: 100%;
    height: 23.125rem;
    position: relative;
    overflow: hidden; }
    .imgBox-1 .img-1 img {
      width: 110%;
      height: 23.125rem;
      transition: all 0.3s ease-in-out;
      transform: scaleX(1.2);
      filter: blur(1px); }
    .imgBox-1 .img-1 span {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      width: 50%;
      height: 50%;
      transition: all 0.5s ease-in-out; }
    .imgBox-1 .img-1 .fade-1 {
      top: 0;
      right: 0; }
    .imgBox-1 .img-1 .fade-2 {
      bottom: 0;
      left: 0; }
    .imgBox-1 .img-1 .fade-3 {
      top: 0;
      left: 0; }
    .imgBox-1 .img-1 .fade-4 {
      bottom: 0;
      right: 0; }

.imgBox-1:hover span {
  width: 0;
  height: 0; }

.imgBox-1:hover img {
  transform: scale(1.1) scaleX(1.2);
  filter: blur(0); }

.title-2 {
  width: 100%;
  padding-top: 4rem; }
  .title-2 h2 {
    font-family: "Source Sans Pro";
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    position: relative; }
  .title-2 h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.imgBox-2 {
  width: 35.625rem;
  height: 29.3125rem;
  position: relative; }
  .imgBox-2 p {
    font-family: "Source Sans Pro";
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: #a88d7b; }
  .imgBox-2 .img-2 {
    width: 100%;
    height: 23.3125rem;
    position: relative;
    overflow: hidden; }
    .imgBox-2 .img-2 img {
      width: 110%;
      height: 23.3125rem;
      transition: all 0.3s ease-in-out;
      filter: blur(1px); }
    .imgBox-2 .img-2 span {
      position: absolute;
      background: rgba(0, 0, 0, 0.596);
      width: 0;
      height: 25%;
      transition: all 0.7s ease-in-out; }
    .imgBox-2 .img-2 .fade-1 {
      top: 0;
      right: 0;
      width: 100%; }
    .imgBox-2 .img-2 .fade-2 {
      top: 25%;
      left: 0;
      width: 100%; }
    .imgBox-2 .img-2 .fade-3 {
      top: 50%;
      right: 0;
      width: 100%; }
    .imgBox-2 .img-2 .fade-4 {
      top: 75%;
      left: 0;
      width: 100%; }

.imgBox-2:hover img {
  transform: scale(1.1);
  filter: blur(0); }

.imgBox-2:hover .fade-1 {
  width: 0; }

.imgBox-2:hover .fade-2 {
  width: 0; }

.imgBox-2:hover .fade-3 {
  width: 0; }

.imgBox-2:hover .fade-4 {
  width: 0; }

.blog-section {
  height: 32.9375rem;
  font-family: "Source Sans Pro"; }
  .blog-section .blog-img {
    position: relative; }
    .blog-section .blog-img img {
      width: 36.5625rem;
      height: 25.3125rem;
      position: absolute;
      right: 0;
      top: 2rem; }
  .blog-section .blog-content {
    width: 529px;
    height: 239px;
    padding: 0.5rem 4rem; }
  .blog-section p {
    font-size: 25px;
    font-weight: 600; }
  .blog-section p:nth-child(2) {
    font-size: 15px;
    text-align: left;
    color: #808080; }
  .blog-section p:nth-child(3) {
    font-size: 15px;
    line-height: 1.67;
    color: #666666;
    padding-top: 1rem; }
  .blog-section p:nth-child(4) {
    font-size: 15px;
    line-height: 3.2;
    letter-spacing: 1.5px;
    color: #a88d7b; }

.top-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 66rem; }

.content-1 {
  padding-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 23.125rem);
  margin: auto;
  width: 71.375rem; }

.content-2 {
  padding-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 71.375rem; }

.blog-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

footer .container {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  width: 73.375rem;
  margin: auto;
  padding-top: 60px; }
  footer .container .instagram {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: 3rem 5rem 5rem; }

/*# sourceMappingURL=main.css.map */
