@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.search-bar,
.cart {
  position: relative; }
  .search-bar i,
  .cart i {
    position: absolute;
    top: 45%;
    right: 15%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #ffffff; }

.search-bar i {
  right: 18%; }

.cart i {
  left: 28%; }

.arrow {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
  animation: move 1s ease infinite; }

@keyframes move {
  0% {
    bottom: 3%;
    opacity: 0; }
  100% {
    bottom: 0;
    opacity: 1; } }
body {
  margin: 0;
  padding: 0; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/black-and-white-2558273_1920.jpg);
  background-size: 100% 56rem;
  height: 100vh;
  background-attachment: fixed; }

nav {
  padding-top: 3rem; }
  nav ul {
    text-align: center;
    margin: 0;
    height: 4rem;
    padding: 0; }
    nav ul li {
      text-transform: uppercase;
      list-style: none;
      display: inline-block;
      font-family: 'Dosis', sans-serif;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      color: #ffffff;
      width: 6rem;
      margin-top: 1rem; }

nav ul li:nth-child(4) {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #fffefe;
  position: relative;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  margin: 0 2rem; }
  nav ul li:nth-child(4) span {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%); }

section {
  height: 34.5rem;
  opacity: 0.9;
  opacity: 0.9;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/model-2436214_1280.jpg);
  background-size: 100% 51rem;
  background-attachment: fixed;
  text-align: center; }
  section .info {
    width: 50rem;
    padding-top: 12rem;
    padding-left: 17rem; }
    section .info h1 {
      font-family: "Dosis";
      font-size: 3rem;
      color: #ffffff; }
    section .info p {
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 1.6;
      color: #ffffff; }
    section .info button {
      font-family: "Source Sans Pro";
      width: 9.375rem;
      height: 2.5rem;
      background-color: #a88d7b;
      border: none;
      font-size: 15px;
      color: #ffffff; }

footer {
  height: 26.5625rem;
  background-color: #2d2827; }
  footer .instagram div {
    background: white;
    width: 5rem;
    height: 5rem; }

.top-bar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }
  .top-bar div p {
    text-align: center;
    font-family: "Source Sans Pro";
    color: #999999; }

.currency {
  margin-left: 1rem;
  font-size: 12px;
  margin-top: 0.5rem; }
  .currency span {
    padding-left: 1rem; }
    .currency span i {
      padding-left: 0.5rem; }

.shipping p {
  line-height: 1.83;
  letter-spacing: 2.4px;
  font-size: 12px;
  margin-top: 1rem; }

.icons i {
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.head {
  padding-top: 6rem;
  width: 70%;
  margin: auto;
  text-align: center;
  color: #ffffff; }
  .head h1 {
    font-size: 50px;
    line-height: 0.96;
    font-family: Dosis; }
  .head p {
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 8px;
    color: #e6e6e6; }
  .head button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    border: none;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-top: 4rem; }

.title-1 {
  width: 100%; }
  .title-1 h2 {
    font-family: "Source Sans Pro";
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    position: relative; }
  .title-1 h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

main p {
  font-weight: 600;
  text-align: center;
  font-family: "Source Sans Pro";
  margin: 0.5rem 0; }

.description {
  font-size: 20px;
  color: #333333; }

.price {
  font-size: 15px;
  color: #999999; }

.imgBox-1 {
  width: 23.125rem;
  height: 27.125rem;
  position: relative;
  overflow: hidden; }
  .imgBox-1 button {
    width: 60px;
    height: 25px;
    border-radius: 7.5px;
    background-color: #a88d7b;
    border: none;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    z-index: 1000; }
  .imgBox-1 .img-1 {
    width: 100%;
    height: 23.125rem;
    position: relative;
    overflow: hidden; }
    .imgBox-1 .img-1 img {
      width: 110%;
      height: 23.125rem;
      transition: all 0.5s ease-in-out;
      transform: scaleX(1.2); }
    .imgBox-1 .img-1 span {
      position: absolute;
      background: rgba(0, 0, 0, 0.596);
      width: 65%;
      height: 65%;
      transition: all 0.5s ease-in-out; }
    .imgBox-1 .img-1 .fade-1 {
      border-left: 5px solid white;
      border-bottom: 5px solid white;
      top: 0;
      right: 0; }
    .imgBox-1 .img-1 .fade-2 {
      border-top: 5px solid white;
      border-right: 5px solid white;
      bottom: 0;
      left: 0; }

.imgBox-1:hover span {
  width: 0;
  height: 0; }

.imgBox-1:hover img {
  transform: scale(1.1) scaleX(1.2); }

.imgBox-1:hover .fade-1 {
  border-left: 0px solid white;
  border-bottom: 0px solid white; }

.imgBox-1:hover .fade-2 {
  border-top: 0px solid white;
  border-left: 0px solid white; }

.title-2 {
  width: 100%;
  padding-top: 4rem; }
  .title-2 h2 {
    font-family: "Source Sans Pro";
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    position: relative; }
  .title-2 h2::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #a88d7b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.imgBox-2 {
  width: 35.625rem;
  height: 29.3125rem;
  position: relative; }
  .imgBox-2 .img-2 {
    width: 100%;
    height: 23.3125rem;
    position: relative;
    overflow: hidden; }
    .imgBox-2 .img-2 img {
      width: 110%;
      height: 23.3125rem;
      transition: all 0.5s ease-in-out; }
    .imgBox-2 .img-2 span {
      position: absolute;
      background: rgba(0, 0, 0, 0.596);
      width: 65%;
      height: 65%;
      transition: all 0.5s ease-in-out; }
    .imgBox-2 .img-2 .fade-1 {
      border-left: 5px solid white;
      border-bottom: 5px solid white;
      top: 0;
      right: 0; }
    .imgBox-2 .img-2 .fade-2 {
      border-top: 5px solid white;
      border-right: 5px solid white;
      bottom: 0;
      left: 0; }

.imgBox-2:hover span {
  width: 100%;
  height: 100%;
  opacity: 0; }

.imgBox-2:hover img {
  transform: scale(1.1); }

.imgBox-2:hover .fade-1 {
  border-left: 0px solid white;
  border-bottom: 0px solid white; }

.imgBox-2:hover .fade-2 {
  border-top: 0px solid white;
  border-left: 0px solid white; }

.blog-section {
  height: 32.9375rem;
  font-family: "Source Sans Pro"; }
  .blog-section .blog-img {
    position: relative; }
    .blog-section .blog-img img {
      width: 36.5625rem;
      height: 25.3125rem;
      position: absolute;
      right: 0;
      top: 2rem; }
  .blog-section .blog-content {
    width: 529px;
    height: 239px;
    padding: 0.5rem 4rem; }
  .blog-section p {
    font-size: 25px;
    font-weight: 600; }
  .blog-section p:nth-child(2) {
    font-size: 15px;
    text-align: left;
    color: #808080; }
  .blog-section p:nth-child(3) {
    font-size: 15px;
    line-height: 1.67;
    color: #666666;
    padding-top: 1rem; }
  .blog-section p:nth-child(4) {
    font-size: 15px;
    line-height: 3.2;
    letter-spacing: 1.5px;
    color: #a88d7b; }

.top-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

nav {
  display: grid;
  grid-template-columns: 20% 60% 20%; }

.content-1 {
  padding-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 23.125rem);
  margin: auto;
  width: 71.375rem; }

.content-2 {
  padding-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 71.375rem; }

.blog-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 71.375rem;
  margin: auto; }
  footer .container .instagram {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(2, 5rem); }

/*# sourceMappingURL=main.css.map */
