body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    font-family: "Source Sans Pro";
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../images/black-and-white-2558273_1920.jpg);
    background-size: 100% 56rem;
    height: 945px;
    background-attachment: fixed;
    text-align: center;
    color: #ffffff;
    position: relative;

    h1 {
        font-size: 50px;
        line-height: 0.96;
        font-family: "Dosis";
        margin-top: 13.8125rem;
    }

    p {
        font-size: 15px;
        line-height: 8px;
        color: #e6e6e6;
    }

    button {
        margin-top: 57px;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #a88d7b;
        border: none;
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #ffffff;
        margin-top: 4rem;
    }
}


.home {
    padding-top: 3rem;
}

.about {
    padding-top: 0;
}

nav {

    .navbar {
        height: 93px;
        background-color: rgb(255, 255, 255);
    }

    ul {
        text-align: center;
        margin: 0 auto;
        height: 4rem;

        li {
            text-transform: uppercase;
            list-style: none;
            display: inline-block;
            font-family: 'Dosis', sans-serif;
            font-size: 15px;
            letter-spacing: 0.8px;

            a {
                color: #ffffff;
                text-decoration: none;
                position: relative;
                padding: 0.3rem 0.6rem;

                span {
                    position: absolute;
                    background: white;
                    z-index: 4;
                }

                .top {
                    top: 0;
                    left: 0;
                    height: 2px;
                    width: 0;
                    transition: all 0.2s ease-in-out;
                }

                .right {
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 0;
                    transition: all 0.2s ease-in-out 0.2s;
                }

                .bottom {
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    transition: all 0.2s ease-in-out 0.4s;
                }

                .left {
                    bottom: 0;
                    left: 0;
                    width: 2px;
                    height: 0;
                    transition:  0.2s ease-in-out 0.6s;
                }
            }

            a:hover .top {
                width: 100%;
            }

            a:hover .right {
                height: 100%;
            }

            a:hover .bottom {
                width: 100%;
            }

            a:hover .left {
                height: 100%;
            }
        }

        .search-bar {
          width: 8rem;
          text-align: left;
        }

        .cart {
          width: 4rem;
          text-align: right;
          margin-right: 1rem;
        }
    }

    .home-style {
        width: 71rem;
        padding: 0;

        li {
            width: 7rem;
        }

        .search-bar {
            width: 8rem;
            text-align: left;
        }
    }

    .list-style {
        width: 71rem;
        padding: 0;
        padding-top: 1.5rem;

        li {
          width: 5rem;

            a {
                color: grey;
                position: relative;

                span {
                    background: rgb(0, 0, 0);
                    opacity: 0;
                }
            }

            a::before {
                content: "";
                position: absolute;
                background: rgb(0, 0, 0);
                bottom: 0;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                transition: all 0.3s ease-in-out;
            }

            a:hover::before {
                width: 100%;
            }

            span {
                color: rgb(0, 0, 0);
            }
        }

        .search-bar {
            margin-right: 15rem;
        }

        .cart {
            margin-left: 9rem;
            margin-right: 0;

            i {
                color: grey;
            }
        }
    }
}

.logo {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
    color: #fffefe;
    font-weight: 600;
}

section {
    height: 34.5rem;
    opacity: 0.9;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),  url(../images/model-2436214_1280.jpg);
    background-size: 100% 51rem;
    background-attachment: fixed;
    text-align: center;

    .info {
        width: 50rem;
        padding-top: 12rem;
        padding-left: 17rem;

        h1 {
            font-family: "Dosis";
            font-size: 3rem;
            color: #ffffff;
        }

        p {
            font-size: 15px;
            line-height: 1.6;
            color: #ffffff;
            padding-bottom: 2rem;
        }

        a {
            font-family: "Source Sans Pro";
            background-color: #a88d7b;
            padding: 0.5rem 1rem;
            font-size: 15px;
            text-decoration: none;
            color: #ffffff;
        }
    }
}

footer {
    height: 26.5625rem;
    background-color: #2d2827;

    .contact {

        span {
            padding-right: 0.4rem;
        }
    }

    p {
        font-size: 15px;
        line-height: 1.6;
        color: grey;

        a {
            color: grey;
            text-decoration: none;
            position: relative;
            padding: 0.6rem 0.6rem 0.6rem 0;

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: rgb(255, 255, 255);
                transition: all 0.2s ease-in-out;
            }
        }

        a:hover .bottom {
            width: 100%;
        }
    }

    .contact {

        p:nth-child(1) {
            font-family: "Dosis";
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: #e5e5e5;
            margin-top: 0;
        }
    }

    .links p:nth-child(1),
    .shop p:nth-child(1),
    .instagram p {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        color: #e5e5e5;
        margin-top: 0.4rem;
        margin-bottom: 3rem;
    }

    .instagram {

        p {
            grid-column: -1/1;
        }

        div {
            background: white;
            width: 5rem;
            height: 5rem;
            overflow: hidden;

            img {
                width: 6rem;
                height: 8rem;
            }
        }
    }
}

.footer {
    height: 5.3125rem;
    background-color: #d7d7d7;

    p {
        color: #666666;
        padding-top: 2rem;
        text-align: center;
        margin: 0;
    }

    div {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        padding: 2rem;
        z-index: 1000;

        i {
            font-size: 3rem;
            color: #a88d7b;
        }
    }
}
