// THIS IS MY FONT IMPORT

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

// @font-face {
//     font-family: "Dosis";
//     src: url(../fonts/Dosis-Regular.ttf);
// }

.search-bar,
.cart {

    i {
        font-size: 22px;
        color: #ffffff;
    }
}

.arrow {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20.75rem;
    animation: move 1s ease infinite;
}

@keyframes move {
    0% {
        bottom:3%;
        opacity: 0;
    }

100% {
        bottom: 0;
        opacity: 1;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////THIS IS THE ABOUT SECTION////////////////////////////////////////////////
