// THIS IS MY FONT IMPORT

@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

.search-bar,
.cart {

    i {
        font-size: 22px;
        color: #ffffff;
    }
}

.arrow {
    color: #ffffff;
    position: absolute;
    bottom: 3%;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: move 1s ease infinite;
}

@keyframes move {
    0% {
        bottom:6%;
        opacity: 0;
    }

100% {
        bottom: 3%;
        opacity: 1;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////THIS IS THE ABOUT SECTION////////////////////////////////////////////////

.hero {
    height: 445px;

    h2 {
        font-family: "Source Sans Pro";
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 10rem;
        margin: 0;
    }

    p {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

#close-cart {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    z-index: 1000;

    i {
        font-size: 2rem;
        color: #ac907f;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.66);
        transition: all 0.2s ease-in-out;
    }

    i:hover {
        text-shadow: 9px 9px 5px rgba(0, 0, 0, 0.66);
        color: #785e4e;
    }
}

.hero-contact {
    background: url(../images/dark.jpg);
    background-attachment: fixed;
}

.hero-about {
    background: linear-gradient(rgba(0, 0, 0, 0.658), rgb(0, 0, 0)), url(../images/adults-black-and-white-casual-1374542.jpg);
    background-size: 100% 46rem;
    background-attachment: fixed;
}

.hero-blog {
    background: linear-gradient(rgba(0, 0, 0, 0.849), rgba(0, 0, 0, 0.445)),  url(../images/girl-red-lips.jpg);
    background-attachment: fixed;
}

.hero-lookbook {
    background: linear-gradient(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.61)),  url(../images/guy-in-street.jpg);
    background-attachment: fixed;
    background-size: 100% 50rem;
}

.hero-shop {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),  url(../images/three-females.jpg);
    background-attachment: fixed;
    background-size: 100% 50rem;
}
