.top-bar {
    width: 100%;
    height: 53px;
    background-color: #2d2827;

    div p {
        text-align: center;
        font-family: "Source Sans Pro";
        color: #999999;
    }
}

.currency {
    margin-left: 1rem;
    font-size: 12px;
    margin-top: 0.5rem;

    span {

        padding-left: 1rem;

        i {
            padding-left: 0.5rem;
        }
    }
}

.shipping p {
    line-height: 1.83;
    letter-spacing: 2.4px;
    font-size: 12px;
    margin-top: 1rem;
}

.icons i {
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.head {
    padding-top: 6rem;
    width: 70%;
    margin: auto;
    text-align: center;
    color: #ffffff;

    h1 {
        font-size: 50px;
        line-height: 0.96;
        font-family: Dosis;
    }

    p {
        font-family: "Source Sans Pro";
        font-size: 15px;
        line-height: 8px;
        color: #e6e6e6;
    }

    button {
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #a88d7b;
        border: none;
        font-size: 15px;
        letter-spacing: 1.5px;
        color: #ffffff;
        margin-top: 4rem;
    }
}

.title-1 {
    width: 100%;

    h2 {
        font-family: "Source Sans Pro";
        font-size: 36px;
        line-height: 1.33;
        text-align: center;
        color: #333333;
        position: relative;
    }

    h2::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #a88d7b;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.imgBox-1 {
    width: 18rem;
    height: 22rem;
    background: grey;
    margin: auto;
    position: relative;
    overflow: hidden;

    button {
        width: 60px;
        height: 25px;
        border-radius: 7.5px;
        background-color: #a88d7b;
        border: none;
        font-family: "Source Sans Pro";
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 1rem;
        right: 0.5rem;
    }

    .img {
        width: 100%;
        height: 18rem;
        position: relative;
        overflow: hidden;

        img {
            width: 110%;
            height: 18rem;
            transition: all 0.5s ease-in-out;
        }

        span {
            position: absolute;
            background: rgba(0, 0, 0, 0.596);
            width: 65%;
            height: 65%;
            transition: all 0.5s ease-in-out;
        }

        .fade-1 {
            border-left: 5px solid rgb(255, 255, 255);
            border-bottom: 5px solid rgb(255, 255, 255);
            top: 0;
            right: 0;
        }

        
        .fade-2 {
            border-top: 5px solid rgb(255, 255, 255);
            border-right: 5px solid rgb(255, 255, 255);
            bottom: 0;
            left: 0;
        }
    }

    p {
        margin: 0;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 600;
        line-height: 2.4;
        text-align: center;
        color: #333333;
    }
}

.imgBox-1:hover span {
    width: 0;
    height: 0;
}

.imgBox-1:hover img {
   transform: scale(1.1);
}

.imgBox-1:hover .fade-1 {
    border-left: 0px solid rgb(255, 255, 255);
    border-bottom: 0px solid rgb(255, 255, 255);
}


.imgBox-1:hover .fade-2 {
    border-top: 0px solid rgb(255, 255, 255);
    border-left: 0px solid rgb(255, 255, 255);
}

.title-2 {
    width: 100%;

    h2 {
        font-family: "Source Sans Pro";
        font-size: 36px;
        line-height: 1.33;
        text-align: center;
        color: #333333;
        position: relative;
    }

    h2::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #a88d7b;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.imgBox-2 {
    width: 24rem;
    height: 18rem;
    background: grey;
    margin: auto;
    position: relative;

    button {
        width: 60px;
        height: 25px;
        border-radius: 7.5px;
        background-color: #a88d7b;
        border: none;
        font-family: "Source Sans Pro";
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;
        position: absolute;
        top: 1rem;
        right: 0.5rem;
    }
}
